@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'Lexend';
  src: url('./assets/fonts/Lexend/Lexend-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  --color-brand-brown: #241310;
  --color-brand-dark: #190808;
  --color-brand-orange: #f28b18;
  --color-brand-cream: #f4ebd8;

  --font-lexend: 'Lexend', sans-serif;
  --font-inter: 'Inter', sans-serif;
}



html {
  scroll-padding-top: 80px;
  background-color: #0E0E0E;
}

@media (min-width: 768px) {
  html {
    scroll-padding-top: 96px;
  }
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-brand-cream);
  color: var(--color-brand-dark);
  overflow-x: hidden;
}
